<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<p>
    <a href="/shop">Shop</a>
</p>
<h1>Your Cart</h1>
<form th:action="@{/shop}" th:object="${cart}" method="post">
    <table border="1" class="table table-primary">
        <tr class="table-dark">
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr th:each="product: ${cart}">
            <td th:text="${product.getKey().name}"></td>
            <td>
                <a th:href="@{/add(id= ${product.getKey().id},expression ='-')}" th:text="${'-'}"></a>
                <span th:text="${product.getValue()}"></span>
                <a th:href="@{/add(id= ${product.getKey().id},expression ='+')}" th:text="${'+'}"></a>
            </td>
            <td th:text="${product.getKey().price}"></td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td th:text="${total}"></td>
        </tr>
    </table>
    <div>
        <a class="btn btn-primary" href="/pay">Pay</a>
    </div>
</form>
</body>
</html>