<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <style>
        body{
            background-image: linear-gradient(#adb5bd,yellow,blue);
        }
    </style>
</head>
<body>
<p>
    <a href="/cart">Your cart</a>
</p>
<div class="container-fluid">
    <div class="row ">
        <div class="col " th:each="product:${products}">
            <div class="card pt-4" style="width: 18rem;">
                <img th:src="@{${product.linkImg}}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title" th:text="${product.name}"></h5>
                    <p class="card-text" th:text="${product.price}"></p>
                    <a th:href="@{/detail(id= ${product.id})}" class="btn btn-primary">Show Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>