<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<p>
    <a href="/cart">Your cart</a>
</p>
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-12 d-flex justify-content-center">
            <th:block th:each="product:${products}">
                <div class="col-md-3">
                    <div><img class="align-content-center" th:src="@{${product.linkImg}}" alt=""></div>
                    <div>
                        <h2 th:text="${product.name}"></h2>
                        <h3 th:text="${product.price}"></h3>
                        <a th:href="@{/detail(id= ${product.id})}">Show Detail</a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>