<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{/include/commom::cssbackground}"></th:block>
</head>
<body>
<th:block th:replace="~{/include/commom::header}"></th:block>
<th:block th:replace="~{/include/commom::navbar}"></th:block>
<div>
    <nav class="row mt-4">
        <nav class="col-lg-2"></nav>
        <nav class="col-lg-8 d-flex justify-content-center">
            <form class="justify-content-center d-flex" action="/customer/add" method="post"
                  style="border: 1px solid #A9A9A9; border-radius: 20px; width: 100%"
                    th:object="${customerDto}">
                <fieldset>
                    <legend>Add Customer</legend>
                    <table style="width: 100%" class="table">

                        <tr>
                            <th scope="col">
                                <label>Chọn loại khách</label>
                            </th>
                            <th scope="col">
                                <select th:field="*{guestType}" class="table-row" >
                                    <option th:each="type : ${listGuestType}" th:text="${type.name}"
                                            th:value="${type.id}"></option>
                                </select>
                            </th>
                            <h3 class="text-danger" th:errors="*{guestType}"></h3>
                        </tr>
                        <tr>
                            <th scope="col">
                                <label>Tên khách hàng</label>
                            </th>
                            <th scope="col">
                                <input type="text" th:field="*{name}" >
                                <p class="text-danger" th:errors="*{name}"></p>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">
                                <label>Ngày sinh</label>
                            </th>
                            <th scope="col">
                                <input type="date" th:field="*{dayOfBirth}">
                                <p class="text-danger" th:errors="*{dayOfBirth}"></p>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">
                                <label>Giới tính(0 or 1)</label>
                            </th>
                            <th scope="col">
                                <select th:field="*{gender}">
                                    <option value="1" selected>Nam</option>
                                    <option value="0">Nữ</option>
                                </select>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">
                                <label>Số CMND(9 number)</label>
                            </th>
                            <th scope="col">
                                <input type="text" th:field="*{personalCode}">
                                <p class="text-danger" th:errors="*{personalCode}"></p>
                            </th>
                        </tr>
                        <div>

                        </div>
                        <tr>
                            <th scope="col">
                                <label>Số điện thoại</label>
                            </th>
                            <th scope="col">
                                <input type="text" th:field="*{phoneNumber}">
                                <p class="text-danger" th:errors="*{phoneNumber}"></p>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">
                                <label>Email</label>
                            </th>
                            <th scope="col">
                                <input type="text" th:field="*{email}">
                                <p class="text-danger" th:errors="*{email}"></p>
                            </th>
                        </tr>
                        <tr>
                            <th scope="col">
                                <label>Địa chỉ</label>
                            </th>
                            <th scope="col">
                                <input type="text" th:field="*{address}">
                                <p class="text-danger" th:errors="*{address}"></p>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input class="btn btn-primary" type="submit" value="SAVE"></th>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </nav>
        <nav class="col-lg-2"></nav>
    </nav>
</div>
<th:block th:replace="~{/include/commom::footer}"></th:block>
</body>
</html>