<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Facility</title>
    <th:block th:replace="~{/include/commom::cssbackground}"></th:block>
</head>
<body>
<th:block th:replace="~{/include/commom::header}"></th:block>
<th:block th:replace="~{/include/commom::navbar}"></th:block>

<div class="container w-50 mt-2 p-2" style="border: 1px solid grey; border-radius: 15px">
    <h3 align="center">THÊM MỚI DỊCH VỤ</h3>
    <form class="row g-3" action="/facility/add" method="post" th:object="${facilityDto}">
        <div class="col-md-12">
            <label class="form-label">Loại dịch vụ</label>
            <select name="serviceType"  th:field="*{facilityTypeId}" class="form-select" onchange="showServiceInput(this)" id="serviceSelect">
<!--                <option value="None" disabled selected>Chọn loại dịch vụ</option>-->
                <option th:each="facilityTp: ${facilityType}"
                        th:value="${facilityTp.id}"
                        th:text="${facilityTp.name}">
                </option>
            </select>
        </div>

        <div class="col-md-12">
            <label for="name" class="form-label">Tên dịch vụ</label>
            <input type="text" class="form-control" th:field="*{nameFacility}" id="name" >
            <p class="text-danger" th:errors="*{nameFacility}"></p>
        </div>

        <div class="col-md-12">
            <label for="area" class="form-label">Diện tích sử dụng</label>
            <input type="text" class="form-control" id="area" th:field="*{area}">
            <p class="text-danger" th:errors="*{area}"></p>

        </div>

        <div class="col-md-12">
            <label for="cost" class="form-label">Chi phí thuê</label>
            <input type="text" class="form-control" id="cost" th:field="*{cost}" >
            <p class="text-danger" th:errors="*{cost}"></p>

        </div>

        <div class="col-md-12">
            <label for="max_people" class="form-label">Số lượng người tối đa </label>
            <input type="text" class="form-control" id="max_people" th:field="*{maxPeople}" >
            <p class="text-danger" th:errors="*{maxPeople}"></p>

        </div>

        <div class="col-md-12">
            <label  class="form-label">Kiểu thuê</label>
            <select name="rentalType"  class="form-select" th:field="*{rentTypeId}">
                <option value="0" disabled seleccted>Chọn kiểu thuê</option>
                <option th:each="rent : ${rentType}"
                        th:value="${rent.id}"
                        th:text="${rent.name}">
                </option>
            </select>
        </div>

        <div class="col-md-12 " id="s1" style="display: none">
            <label for="standard_room" class="form-label">Tiêu chuẩn phòng </label>
            <input type="text" class="form-control" id="standard_room" th:field="*{standardRoom}">
            <p class="text-danger" th:errors="*{standardRoom}"></p>

        </div>

        <div class="col-md-12 " id="s2" style="display: none">
            <label for="description" class="form-label">Mô tả tiện nghi khác</label>
            <input type="text" class="form-control" id="description" th:field="*{descriptionOtherConvenience}">
        </div>

        <div class="col-md-12 " id="s3" style="display: none">
            <label for="pool_area" class="form-label">Diện tích hồ bơi  </label>
            <input type="text" class="form-control" id="pool_area" th:field="*{poolArea}">
            <p class="text-danger" th:errors="*{poolArea}"></p>

        </div>

        <div class="col-md-12" id="s4" style="display: none">
            <label for="number_floors" class="form-label">Số tầng </label>
            <input type="text" class="form-control" id="number_floors" th:field="*{numberOfFloors}">
            <p class="text-danger" th:errors="*{numberOfFloors}"></p>

        </div>

        <div class="col-md-12 " id="s5" style="display: none">
            <label for="facility_free" class="form-label">Dịch vụ miễn phí đi kèm </label>
            <input type="text" class="form-control" id="facility_free" th:field="*{facilityFree}">
        </div>

        <div class="col-12 ">
            <button type="submit" class="btn btn-primary">Gửi</button>
        </div>
    </form>
</div>

<script>
    function showServiceInput(value) {
        var v = value.value;
        switch (v) {
            case 'None':
                document.getElementById("s1").style.display="none";
                document.getElementById("s2").style.display="none";
                document.getElementById("s3").style.display="none";
                document.getElementById("s4").style.display="none";
                document.getElementById("s5").style.display="none";
                break;
            case "1":
                document.getElementById("s1").style.display="block";
                document.getElementById("s2").style.display="block";
                document.getElementById("s3").style.display="block";
                document.getElementById("s4").style.display="block";
                document.getElementById("s5").style.display="none";
                break;
            case "2":
                document.getElementById("s1").style.display="block";
                document.getElementById("s2").style.display="block";
                document.getElementById("s4").style.display="block";
                document.getElementById("s5").style.display="none";
                document.getElementById("s3").style.display="none";
                break;
            case "3":
                document.getElementById("s1").style.display="none";
                document.getElementById("s2").style.display="none";
                document.getElementById("s3").style.display="none";
                document.getElementById("s4").style.display="none";
                document.getElementById("s5").style.display="block";
                break;
        }
    }
</script>
<th:block th:replace="~{/include/commom::footer}"></th:block>

</body>
</html>