<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{/include/commom::cssbackground}"></th:block>
</head>
<body>
<th:block th:replace="~{/include/commom::header}"></th:block>
<th:block th:replace="~{/include/commom::navbar}"></th:block>

<div class="container">
    <h1 class="text-center">Page Service</h1>
    <p class="text-center text-success" th:if="${msg}"><span th:text="${msg}"></span></p>
    <a class="btn btn-success" href="/facility/add"><span class="">add Facility</span></a>
    <form class="d-flex m-5">
        <input class="form-control me-2" type="search" placeholder="Search facility name" aria-label="Search"
               name="name">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <table class="table">
        <tr class="table-dark">
            <th class="text-center">#</th>
            <th class="text-center">Service name</th>
            <th class="text-center">Usable area</th>
            <th class="text-center">Cost</th>
            <th class="text-center">Max People</th>
            <th class="text-center">rental type</th>
            <th class="text-center">action</th>
        </tr>
        <tr th:each="facility, status: ${facilityPage}">
            <td class="text-center" th:text="${status.count}"></td>
            <td class="text-center" th:text="${facility.nameFacility}"></td>
            <td class="text-center" th:text="${facility.area}"></td>
            <td class="text-center" th:text="${facility.cost}"></td>
            <td class="text-center" th:text="${facility.maxPeople}"></td>
            <td class="text-center" th:text="${facility.rentTypeId.name}"></td>
            <td class="text-center">
                <button type="button" class="btn">
                    <a th:href="@{/facility/edit/{id}(id=${facility.id})}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor"
                             class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                    </a>
                </button>
                <button type="button" class="btn" th:onclick="|deleteFacility(${facility.id})|"
                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                         fill="currentColor"
                         class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                </button>
            </td>
        </tr>
    </table>
    <div class="col-lg-12 text-center">
        <a th:href="@{/facility/(page=${facilityPage.number - 1}, name = ${keyName})}"
           th:if="${facilityPage.hasPrevious()}">
           Previous
        </a>
        <span th:text="${facilityPage.number + 1}"></span> / <span th:text="${facilityPage.totalPages}"></span>
        <a th:href="@{/facility/(page=${facilityPage.number + 1}, name = ${keyName})}"
           th:if="${facilityPage.hasNext()}">
            Next
        </a>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form action="/facility/delete" method="get">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete customer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" readonly class="form-control border-0" id="deleteId" name="id">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn border-0" data-bs-dismiss="modal"><i
                                class="fa fa-rotate-left text-success"></i></button>
                        <button type="submit" class="btn border-0"><i class="fa fa-trash text-danger"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function deleteFacility(id) {
        document.getElementById("deleteId").value = id;
    }
</script>

<th:block th:replace="~{/include/commom::footer}"></th:block>
</body>
</html>